/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  min-height: 100vh;
}

.header {
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2 / 6;

}

.upper-header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.banner{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.banner-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 20px;
  background-color: aqua
}

.sidebar {
  background-color: skyblue;
  display: grid;
  gap: 15px;
  grid-row: 1 / 6;
  grid-column: 1/2;
}

.main-content {
  background-color: grey;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 500px;
  height: 200px;
  background-color: wheat;
}

.sidebar {
  display: grid;
  align-items: space-between;
  justify-content: center;
  font-size: 20px;
  
}

.upper-sidebar > h1 {
  padding: 10px;
  margin-bottom: 50px;
}

.upper-sidebar > ul {
  display: grid;
  gap: 20px;
  list-style-type: none;
}

.lower-nav-buttons{
  margin-top: 50px;
  
}

input {
  width: clamp(250px , 50%, 1000px);
  height: 25px;
}